@page
@model Gestion_Restaurant.Pages.Barmans.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Barman</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barman.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barman.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barman.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barman.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barman.CommandeEnChargeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barman.CommandeEnChargeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Barman?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
