@page
@model Gestion_Restaurant.Pages.Produits.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-dark" asp-page="Create">Créer un nouveau produit</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produit[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produit[0].Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produit[0].Dispo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Produit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispo)
            </td>
             <td class="btn-group">
                <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@item.Id">Détails</a>
                <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Modifier</a>
                <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id">Supprimer</a>
             </td class="btn btn-secondary">
        </tr>
}
    </tbody>
</table>
