@page
@model Gestion_Restaurant.Pages.Paiements.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-dark" asp-page="Create">Créer un nouveau paiement</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paiement[0].MoyenPaiement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paiement[0].Montant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Paiement) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MoyenPaiement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montant)
            </td>
                <td class="btn-group">
                    <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@item.Id">Détails</a>
                    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Modifier</a>
                    <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id">Supprimer</a>
                 </td class="btn btn-secondary">
        </tr>
}
    </tbody>
</table>
