@page
@model Gestion_Restaurant.Pages.Paiements.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-dark" asp-page="Create">Créer un nouveau paiement</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paiement[0].MoyenPaiement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paiement[0].Montant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Paiement) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MoyenPaiement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montant)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
