@page
@model Gestion_Restaurant.Pages.Tables.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Table</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Table.NbPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Table.NbPlace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Table.CommandeRattache)
        </dt>
        <dd class="col-sm-10">
            @{
                var commandeRattache = Model.Table.CommandeRattache;
            }
            @if (commandeRattache != null)
            {
                @Html.DisplayFor(model => commandeRattache.Id)
            }else{
                <span>Aucune</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Table?.Id">Modifier</a>
    <a class="btn btn-secondary" asp-page="./Index">Retour</a>
</div>