@page
@model Gestion_Restaurant.Pages.Tables.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Table[0].Etat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table[0].CommandeRattache)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Table) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Etat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommandeRattache.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
