@page
@model Gestion_Restaurant.Pages.Commandes.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="row align-items-start">
    <div class="col-8">
        <h1>Index</h1>

        <p>
            <a class="btn btn-dark" asp-page="Create">Créer une nouvelle commande</a>
        </p>
    </div>
    <form class="col-4">
        <div class="input-group mb-3 pt-3">
            <input type="text" name="SearchString" class="form-control" placeholder="Chercher une commande par statut...">
            <input type="submit" value="Chercher" class="btn btn-primary"/>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Commande[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commande[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commande[0].Statut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Commande) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td class="btn-group">
                <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@item.Id">Détails</a>
                <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Modifier</a>
                <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id">Supprimer</a>
             </td class="btn btn-secondary">
        </tr>
}
    </tbody>
</table>
