@page
@model Gestion_Restaurant.Pages.Factures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-dark" asp-page="Create">Créer une nouvelle facture</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facture[0].Montant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facture[0].CommandeFacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Facture) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Montant)
            </td>
            <td>
                    @if (item.CommandeFacturer != null)
                    {
                        @Html.DisplayFor(modelItem => item.CommandeFacturer.Id)
                    }
                    else{
                        <span>Aucune</span>
                    }
            </td>
                <td class="btn-group">
                    <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@item.Id">Détails</a>
                    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Modifier</a>
                    <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id">Supprimer</a>
                 </td class="btn btn-secondary">
        </tr>
}
    </tbody>
</table>
